<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - saucissons</title>
	<link rel="stylesheet" type="text/css" href="../{{ASSETS_PATH}}css/boilerplate.css">
	<link rel="stylesheet" type="text/css" href="../{{ASSETS_PATH}}css/fontface.css">
	<link rel="stylesheet" type="text/css" href="../{{ASSETS_PATH}}css/style.css">
</head>
<body>
	{% include 'elements/header.html' %}
	<div id="banner"></div>

	<section class="page">
		<div class="content">	
			{% block content %}{% endblock %}
		</div>
	</section>
	{% block footer %}{% endblock %}

</body>
</html>

