	<header>
		<div class="content">
			<a class="logo" href="">
				<img src="../assets/img/logo.png">
			</a>
			<div id="search_bar">
				<form method="post" action="">
					<input type="text" name="pseudoConnexion" placeholder="trouver un produit..."/> 
					<input type="submit" name="connexion" value="Rechercher"/>
				</form>
			</div>
			<nav id="main_menu">
				<ul>
					<li><a href="">Spécialités</a></li>
					<li><a href="">Gamme pur porc</a></li>
					<li><a href="">Lots</a></li>
				</ul>
			</nav>
			<nav id="account">
				<ul>
					<li><a href="">S'inscrire</a></li>
					<li><a href="">Se connecter</a>
					<div id="login">
						<form action="" method="post">
							<p>Nom</p>
							<input type="text" placeholder="Entrer un nom..." name="pseudoConnexion">
							<p>Password</p>
							<input type="password" name="passwordConnexion">
							<input type="submit" value="Connexion" name="connexion">
						</form>
					</div>

					</li>
				</ul>

			</nav>
		</div>
	</header>

